<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agregar</title>
        <link rel="stylesheet" type="text/css" href="static/css/diseno.css" th:href="@{/css/diseno.css}">
    </head>
    
    <body>
        <div class="contenedor">
            <h1>Agregar Registro</h1>
            <form action="agregarEmpleado" method="post">
                <table border="1" class="tablitadatos">

                    <tr>
                        <td><label for="nombre">Nombre:</label></td>
                        <td><input type="text" name="nombre"></input></td>
                    </tr>
                    <tr>
                        <td><label for="enero">Enero:</label></td>
                        <td><input type="double" name="enero"></input></td>
                    </tr>
                    <tr>
                        <td><label for="febrero">Febrero</label></td>
                        <td><input type="double" name="febrero"></input></td>
                    </tr>
                    <tr>
                        <td><label for="marzo">Marzo</label></td>
                        <td><input type="double" name="marzo"></input></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Agregar"></input></td>
                    </tr>
                </table>
            </form>
            <p th:text = "${msg}"></p>
            <a href="http://www.localhost:8080"><input type="button" value="Regresar"></a>
        </div>
    </body>
</html>
