<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Buscar por cantidad</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/css/diseno.css" th:href="@{/css/diseno.css}">
    </head>
    <body>
        <div><h1>Buscar por cantidad</h1></div>
         <form action="buscarEmpleado" method="post">
         <table>
                    <tr>
                    <td><label for="cantidad">Cantidad que desesa buscar: </label></td>
                    <td><input type="double" name="cantidad"></input></td>
                    </tr>
                     <tr>
                        <td></td>
                        <td><input type="submit" value="Buscar"></input></td>
                    </tr>
             </table>
         </form>>
         <p th:text = "${msg}"></p>
         <a href="http://www.localhost:8080"><input type="button" value="Regresar"></a>
    </body>
</html>
