<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Mayor por tres meses</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/css/diseno.css" th:href="@{/css/diseno.css}">
    </head>
    <body>
        <div><h1>Mayor por tres meses</h1></div>
        <p th:text = "${msg}"></p>

         <a href="http://www.localhost:8080"><input type="button" value="Regresar"></a>
    </body>
</html>
